/* Reset */
* {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}


/* Body */
body {
  background-color: #f1adad;
  line-height: 1.6;
}

/* Header */
.header {
  background-color: rgb(234, 149, 149);
  color: rgb(25, 7, 94);
  padding: 30px;
  text-align: center;
}

/* Sections */
section {
  background: rgb(210, 204, 204);
  padding: 40px o;
}

/* Headings */
h2 {
  margin-bottom: 10px;
  color: #2c3e50;
}

/* Lists */
ul {
  margin-left: 20px;
}

/* Button */
button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #217dbb;
}

/* Footer */
.footer {
  text-align: center;
  padding: 15px;
  color: #555;
}